.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    scroll-margin: 80px;
    margin-bottom: 50px;


    h2{
        font-size: 35px;
        color: white;
        font-weight: bold;
    }

    button{
        width: 180px ;
        padding: 10px;
        border-radius: 5px;
        color: black;
        background-color: #fdc025ef;
        border: none;
        cursor: pointer;
        transition: .2s;
    }

    .buttonHidden{
        display: none;

    }

    .buttonVisible{
        display: block;
    }
    
}

.containerProjects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
    max-width: 1200px;
    position: relative;
}

.cardProject{
    width: 560px;
    height: 400px;
    position: relative;
    background-color: #1E222B;
    box-shadow: 0px 0px 5px 0px #949799;
    border-radius: 10px;

    &:hover{
        .buttons{
            visibility: visible;
        }
    }

    .projectImage{
        width: 100%;
        height: 250px;
        position: relative;
        cursor: pointer;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        transition: .2s;
    }
}

.projectDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: .5s;
    padding: 0px 20px;
}


.projectDescription .name{
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.projectDescription .description{
    color: var(--text-color);
    font-size: 12px;
    text-align: justify;
    font-weight: 700;
}

.projectDescription .technologies{
    display: flex;
    height: auto;
    gap: 4px;
    margin-top: 10px;
}

.projectDescription .technologies img{
    height: 24px;
    width: 24px;
}

.buttons{ 
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(30,34,43,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    visibility: hidden;

    a{
        text-decoration: none;
        width: 100px ;
        padding: 10px;
        border-radius: 5px;
        color: black;
        background-color: #fdc025ef;
        border: none;
        cursor: pointer;
        transition: .2s;
    }
}


@media screen and (max-width: 670px) {
    .projectsImg{
        overflow-y: hidden;
        width: 90%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
        cursor: grab;  
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; 
    }
}