.presentationHome{
    background-image: linear-gradient(#272A31,#232a38);
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;
}
.presentationHome section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.presentationHome section h2{
    font-size: 35px;
    font-weight: 800;
    color: white;
    width: 350px;
    font-family: sans-serif;
    margin-top: 2.5em;
}

.presentationHome section h2 strong{
    color: #FDC025;
}

.presentationHome section button{
    border: 3px solid #FDC025;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #272A31;
    color: #FDC025;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    transition: .5s;
}


.presentationHome section button:hover{
    color: white;
    background-color: #fdc025da;
}


.roboImg{
    width: 380px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 780px){
    .presentationHome{
        height: 100%;
        padding-top: 15px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentationHome section{
        align-items: center;
    }

    .presentationHome section h2{
        text-align: center;
    }
}