.presentationHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 180px;
    flex-wrap: wrap;
    height: 100vh;
}
.presentationHome section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.presentationHome section h2{
    font-size: 35px;
    font-weight: 800;
    color: white;
    width: 350px;
    font-family: sans-serif;
}

.presentationHome section h2 strong{
    color: #FDC025;
}


.roboImg{
    width: 380px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1090px){
    .presentationHome{
        padding: 0px 100px;
    }
   
    .roboImg{
        width: 340px;
        height: 400px;
    }
}

@media screen and (max-width: 890px){
    .presentationHome{
        height: 100%;
        padding-top: 15px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentationHome section{
        align-items: center;
    }

    .presentationHome section h2{
        text-align: center;
    }
}