.presentationHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 180px;
    flex-wrap: wrap;
    height: 100vh;
}
.presentationHome section {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h4{
        color: #FDC025;
    }

    h1{
        font-size: 56px;
        font-weight: 800;
        color: white;

        strong{
            color: #FDC025;
        }
    }

    h2{
        font-size: 40px;
        font-weight: 700;
        color: #94A3B8;
    }
}

.downloadCV{
    border: 1px solid #FDC025;
    border-radius: 4px;
    background-color: #101319;
    color: #FDC025;
    font-size: 14px;
    font-weight: bolder;
    width: auto;
    cursor: pointer;
    transition: .5s;
    line-height: 1.25rem;
    text-decoration: none;
    text-align: center;
    max-width: 200px;
    padding: 10px 32px; 

    &:hover{
        color: white;
        background-color: #fdc025da;
    }
}



@media screen and (max-width: 1244px){
    .presentationHome{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 5em;

        section{
            align-items: center;
        }
    }

    @media screen and (max-height: 780px) {
        .presentationHome{
            height: 120vh;
        }
    }
    @media screen and (max-height: 660px) {
        .presentationHome{
            height: 150vh;
        }
    }
}


@media screen and (max-width: 890px){
    .presentationHome{
        padding: 0px;
        justify-content: start;
    }
}

@media screen and (max-width: 500px){
    .presentationHome{
        section{
            h1{
                font-size: 40px;
            }
            h2{
                font-size: 24px;
            }
            h4{
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 350px){
    .presentationHome{
        justify-content: center;
        section{
            h1{
                font-size: 40px;
                text-align: center;
            }
        }
    }
}