.presentationHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 180px;
    flex-wrap: wrap;
    height: 100vh;
}
.presentationHome section {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h4{
        color: #FDC025;
    }

    h1{
        font-size: 56px;
        font-weight: 800;
        color: white;

        strong{
            color: #FDC025;
        }
    }

    h2{
        font-size: 40px;
        font-weight: 700;
        color: #94A3B8;
    }
}


.roboImg{
    width: 380px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1244px){
    .presentationHome{
        flex-direction: column;
        justify-content: center;
        gap: 5em;

        section{
            align-items: center;
        }
    }
   

}


@media screen and (max-width: 890px){
    .presentationHome{
        padding: 0px;
        justify-content: start;
    }
}

@media screen and (max-width: 500px){
    .presentationHome{
        section{
            h1{
                font-size: 40px;
            }
            h2{
                font-size: 24px;
            }
            h4{
                font-size: 14px;
            }
        }
    }
}