.skills{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 3em;
    scroll-margin: 40px;

}
.skillsTitle{
    font-size: 35px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.containerSkills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    margin-bottom: 100px;
    max-width: 840px;

}

@media screen and (max-width:480px){
    .containerSkills{
        gap: 10px;
        width: 90%;
        justify-content: center;
    }
}