.cardSkills{
    background-color: #3b4d69;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.5s;
    cursor: pointer;
    scroll-margin: 80px;


    &:hover{
        background-color: #fdc025d5;

    }

    img{
        width: 60px;
    }

    p{
        color: white;
        font-weight: bold;
        font-size: 16px;
        /* font-family: sans-serif; */
    }
}
