.cardSkills{
    background-color: #1E222B;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.5s;
    cursor: pointer;
    scroll-margin: 80px;
    box-shadow: 0px 0px 5px 0px #949799;


    &:hover{
        scale: 1.02;

        p {
            color: #fdc025d5;
        }
    }

    img{
        width: 60px;
    }

    p{
        color: whitesmoke;
        font-weight: 600;
        font-size: 20px;
    }
}

@media screen and (max-width:750px){
    .cardSkills{
        width: 90%;
    }
}