.containerContact{
    background-color: #232a38;
    border-top: 5px solid #FDC025;
    border-bottom: 5px solid #FDC025;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    scroll-margin: 60px;


    h2{
        color: white;
        font-family: sans-serif;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }

    .form{
        height: auto;
        font-family: sans-serif;

        form{ 
        display: flex;
        flex-direction: column;
        gap: 16px;

        section{
            display: flex;
            flex-direction: column;
            gap: 4px;
            
            label{
                color: white;
                font-size: 16px;
            }

            input{
                padding: 5px;
                width: 300px;
                height: 50px;
                border-radius: 8px;
                background-color: #3b4d69;
                outline: none;
                border: none;
                color: white;

            
                &::placeholder{
                    color: white;
                    opacity: .8  ;
                }
            }
            .input-error{
                border: 1px solid red;
            }
            .message-error{
                color: red;
            }



        }
        button{
            padding: 12px;
            background-color: #FDC025;
            font-size: 16px;
            color: #232a38;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .button-disabled{
            cursor: not-allowed;
        }

    }
    }
}





@media screen and (max-width: 800px){
    .contacts{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
}