
.header{
    background-color: var(--primary-color);
    padding: 30px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;   
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;

    span{
        color: var(--secondary-color) ;
    }
}

.desktop ul {
    display: flex;
    gap: 32px;
}

.desktop ul li{
    list-style: none;
    font-weight: bolder;
    cursor: pointer;
}
.desktop ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-family: "Arial", sans-serif;
    transition: color .2s;

    &:hover{
        color: var(--secondary-color);
    }
}


.search{
    background-color: #515050;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
    background-position-y: center;
}

.search::placeholder{
    font-family: "Inika";
    font-size: 20px;
    font-weight: bold;
}

.menuMobile{
    display: none;
}

@media screen and (max-width: 845px) {
    .header{
        position: relative;
        justify-content: space-between;
        padding: 40px;
    }

    .menuMobile{
        display: block;
    }
    
    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
    }
    .mobile ul {
        height: 180px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        position: absolute;
        background-color: #37373C;
        top: 70%;
        right: 0px;
        width: 150px;
        border-radius: 10px;
    }
    
    .mobile ul li{
        width: 100%;
        text-align: center;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile ul li:hover{
        background-color: #FDC025;
        text-decoration: none;
        color: white;

    }
    .mobile ul li a{
        font-weight: bold;
        font-size: 20px;
    }

}