.getInTouchButton{
    border: 1px solid #FDC025;
    border-radius: 4px;
    background-color: #101319;
    color: #FDC025;
    font-size: 14px;
    font-weight: bolder;
    width: auto;
    cursor: pointer;
    transition: .5s;
    line-height: 1.25rem;
    text-decoration: none;
    max-width: 200px;
}

.getInTouchButton:hover{
    color: white;
    background-color: #fdc025da;
}
