.getInTouchButton{
    border: 1px solid #FDC025;
    border-radius: 4px;
    background-color: #101319;
    color: #FDC025;
    font-size: 14px;
    font-weight: bolder;
    width: auto;
    cursor: pointer;
    transition: .5s;
    line-height: 1.25rem;
    text-decoration: none;
    text-align: center;
    max-width: 200px;
}

.filled{
    background-color: #FDC025;
    color: white;
    box-shadow: 0px 0px 15px 0px #FDC025;

    &:hover{
        scale: 1.02;
    }
}

.getInTouchButton:hover{
    color: white;
    background-color: #fdc025da;
}
