.thanks{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1d222a;
}

.thanks h2{
    margin: auto 0px;
    text-align: center;
    color: #FDC025;
    font-size: 35px;
    font-weight: bold;
}