.thanks{
    background-color: #272A31;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks h2{
    margin: auto 0px;
    text-align: center;
    color: #FDC025;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
}