.experience{
    padding: 50px 180px 0px;
}

.experience h2{
    color: white;
    /* font-family: sans-serif; */
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.cardExperience{
    display: flex;
    height: 100%;
}

.experienceImages{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.experienceImages .line{
    height: 30%;
    margin-top: -20px;
    background-color: black;
}

.experienceTexts{
    display: flex;
    flex-direction: column;
    color: white;
    /* font-family: sans-serif; */
    gap: 15px;
    padding-top: 30px;
   width: 60%;

}

.experienceTexts h3{
    font-size: 30px;
}

.experienceTexts h4{
    margin-bottom: 10px;
}

@media screen and (max-width:900px){

    .experienceImages .line{
        height: 40%;
    }
    .experienceImages{
        gap: 30px;
    }
    .experience{
        padding: 80px 50px 0px;
        justify-content: center;
    }
}

@media screen and (max-width:500px){

    .experience{
        p{
            text-align: justify;
            width: 100%;
            font-size: 12px;
        }
    }
}