*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scrollbar-width: thin; 
  scrollbar-color: #FDC025 #101319; 
}

body{
  background-color: var(--primary-color);
  color: white;
  /* font-family: sans-serif; */
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

:root{
  --primary-color: #101319;
  --secondary-color: #FDC025;
  --text-color: #94A3B8;
}

::-webkit-scrollbar {
   width: 12px; 
  }
::-webkit-scrollbar-track { 
  background: #101319; 
}
::-webkit-scrollbar-thumb { 
  background: #FDC025; 
  border-radius: 10px; 
}

