*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--primary-color);
  color: white;
  /* font-family: sans-serif; */
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

:root{
  --primary-color: #101319;
  --secondary-color: #FDC025;
  --text-color: #94A3B8;
}