.about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    scroll-margin: 80px;
    height: 90vh;
    flex-wrap: wrap-reverse;

}

.about-image{
    padding-top: 90px;

    .about-me-image{
        width: 460px;
        border-radius: 20px;
    }

}

.about-me-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
}

.aboutTitle{
    color: white;
    font-size: 40px;
    font-weight: bold;

    strong{
        color: var(--secondary-color);
    }
}

.separator{
    width: 100px;
    height: 6px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.aboutText{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 20px;
}

.aboutText p{
    color: var(--text-color);
    font-size: 20px;
    font-weight: normal;
}

@media  screen and (max-width: 740px) {
    .about{
        padding: 0px;
        align-items: center;
    }

    .aboutText{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
    }

    .aboutText p{
        text-align: center;
        width: 90%;
    }

}

@media  screen and (max-width: 500px) {
    .aboutText p{
        text-align: justify;
        width: 100%;
        font-size: 12px;
    } 
}